@model IEnumerable<OrionposPhonebook.Models.Entities.Contact>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Telefon Rehberi";
}
@section head {

    <link rel="stylesheet" href="//cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="~/css/Phonebook.css" asp-append-version="true" />
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link href="https://unpkg.com/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://unpkg.com/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/toastr@2"></script>
    <link rel="stylesheet" href="<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.20.0/dist/font/bootstrap-icons.css" rel="stylesheet">
    
</head>

<div class="container-fluid">
    <!-- Use container-fluid to make it a full-width container -->
    
            <div class="row my-4">
                <div class="col-12">
                    <button class="btn btn-primary mx-2" id="editSelected">Seçilenleri Düzenle</button>
                    <button class="btn btn-danger mx-2" id="deleteSelected">Seçilenleri Sil</button>
                    <a asp-controller="Contact" asp-action="AddContactView" class="btn btn-success">
                        Yeni Kayıt Ekle
                    </a>
                   
                </div>
                
            </div>
        
    <div class="row my-4">
        <div class="col-12">
            <!-- Bootstrap Table -->
            <table id="tblData" class="table table-bordered table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th data-checkbox="true"></th>
                        <th data-field="id" style="display:none;"></th>
                        <th data-field="name">Ad</th>
                        <th data-field="surname">Soyad</th>
                        <th data-field="number">Telefon No.</th>
                    </tr>
                </thead>
            </table>

        </div>
    </div>


    @section Scripts {
                <script src="https://cdn.datatables.net/1.11.10/js/jquery.dataTables.min.js"></script>
                <script src="~/js/contact.js"></script>

                <script>
                    var dataTable;
            $(document).ready(function () {
                
                if ($.fn.DataTable.isDataTable('#tblData')) {
                   
                    $('#tblData').DataTable().destroy();
                }

                loadDataTable();
            });

                    function loadDataTable() {
                        dataTable = $('#tblData').DataTable({
                            "ajax": { url: '/Contact/GetAllContacts' },
                            "columns": [
                                { data: null, "render": function (data) { return '<input type="checkbox" class="contact-checkbox" data-id="' + data.id + '"/>'; }, "width": "3%" },
                                { data: 'id', "visible": false },
                                { data: 'firstName', "width": "20%" },
                                { data: 'lastName', "width": "20%" },
                                { data: 'phoneNumber', "width": "20%" },

                    ], 
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/1.11.5/i18n/Turkish.json" // Load Turkish language file
                    },
                            "initComplete": function (settings, json) {
                                hideLoadingIndicator();
                            }
                        });
             
                $('#tblData tfoot th').each(function () {
                    var title = $(this).text();
                    $(this).html('<input type="text" placeholder="Ara ' + title + '" data-search="' + title + '" />');
                });

              
                dataTable.columns().every(function () {
                    var that = this;
                    $('input', this.footer()).on('keyup change', function () {
                        if (that.search() !== this.value) {
                            that.search(customSearch(this.value)).draw();
                        }
                    });
                });
                function customSearch(value) {
                   
                    return value
                        .replace(/[ğĞ]/g, "g")
                        .replace(/[üÜ]/g, "u")
                        .replace(/[şŞ]/g, "s")
                        .replace(/[ıİ]/g, "i")
                        .replace(/[öÖ]/g, "o")
                        .replace(/[\u0300-\u036f]/g, "") // Remove diacritics
                        .toLowerCase();
                }
            } 
                </script>
            }
