@model IEnumerable<OrionposPhonebook.Models.Entities.Contact>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Telefon Rehberi";
}
@section head {

    <link rel="stylesheet" href="//cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="~/css/Phonebook.css" asp-append-version="true" />
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link href="https://unpkg.com/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://unpkg.com/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/toastr@2"></script>
    <link rel="stylesheet" href="<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.20.0/dist/font/bootstrap-icons.css" rel="stylesheet">
    

</head>


<div class="container-fluid">
    <!-- Use container-fluid to make it a full-width container -->
    
    
            <div class="row my-4">
                <div class="col-12">
                    <button class="btn btn-primary mx-2" id="editSelected">Seçilenleri Düzenle</button>
                    <button class="btn btn-danger mx-2" id="deleteSelected">Seçilenleri Sil</button>
                    <a asp-controller="Contact" asp-action="AddContactView" class="btn btn-success">
                        Yeni Kayıt Ekle
                    </a>
                   
                </div>
                
            </div>
        
    <div class="row my-4">
        <div class="col-12">
            <!-- Bootstrap Table -->
            <table id="tblData" class="table table-bordered table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th data-checkbox="true"></th>
                        <th data-field="id" style="display:none;"></th>
                        <th data-field="name">Ad</th>
                        <th data-field="surname">Soyad</th>
                        <th data-field="number">Telefon No.</th>
                    </tr>
                </thead>
            </table>

            
        </div>
    </div>


    @section Scripts {
                <script src="https://cdn.datatables.net/1.11.10/js/jquery.dataTables.min.js"></script>
                <script src="~/js/contact.js"></script>

                <script>
                    var dataTable;
            $(document).ready(function () {
                // Check if dataTable is already initialized
                if ($.fn.DataTable.isDataTable('#tblData')) {
                    // Destroy the existing DataTable before reinitializing
                    $('#tblData').DataTable().destroy();
                }

                loadDataTable();
            });

                    function loadDataTable() {
                        dataTable = $('#tblData').DataTable({
                            "ajax": { url: '/Contact/GetAllContacts' },
                            "columns": [
                                { data: null, "render": function (data) { return '<input type="checkbox" class="contact-checkbox" data-id="' + data.id + '"/>'; }, "width": "5%" },
                                { data: 'id', "visible": false },
                                { data: 'firstName', "width": "20%" },
                                { data: 'lastName', "width": "20%" },
                                { data: 'phoneNumber', "width": "20%" },
                               
                            ],
                            "initComplete": function (settings, json) {
                                hideLoadingIndicator();
                            }
                        });
                    }

                    // Checkbox'ları seçilen kişileri silmek veya düzenlemek için
                    $('#tblData').on('change', '.contact-checkbox', function () {
                        // Seçili checkbox'ların değerlerini al
                        var selectedIds = [];
                        $('.contact-checkbox:checked').each(function () {
                            selectedIds.push($(this).data('id'));
                        });

                        // Seçili checkbox varsa düzenleme veya silme işlemlerini gerçekleştir
                        if (selectedIds.length > 0) {
                            // Birden fazla seçili kişi varsa düzenleme işlemi yapılmaz
                            if (selectedIds.length === 1) {
                                // Düzenleme işlemi
                                $('#editSelected').prop('disabled', false);
                            } else {
                                // Birden fazla seçili kişi varsa düzenleme işlemi devre dışı bırakılır
                                $('#editSelected').prop('disabled', true);
                            }

                            // Silme işlemi
                            $('#deleteSelected').prop('disabled', false);
                        } else {
                            // Seçili checkbox yoksa düzenleme ve silme butonlarını devre dışı bırak
                            $('#editSelected').prop('disabled', true);
                            $('#deleteSelected').prop('disabled', true);
                        }
                    });

                    // Silme butonları için click olayları
                    $('#tblData').on('click', '.btn-delete', function () {
                        var contactId = $(this).data('id');
                        deleteSelectedContacts([contactId]);
                    });

                    // Düzenleme butonları için click olayları
                    $('#tblData').on('click', '.btn-edit', function () {
                        var contactId = $(this).data('id');
                        window.location.href = '/Contact/UpdateContactView/' + contactId;
                    });

                    // Seçilen kişileri silme butonu için click olayı
                    $('#deleteSelected').on('click', function () {
                        var selectedIds = [];
                        $('.contact-checkbox:checked').each(function () {
                            selectedIds.push($(this).data('id'));
                        });

                        if (selectedIds.length > 0) {
                            deleteSelectedContacts(selectedIds);
                        }
                    });

                    // Seçilen kişiyi düzenleme butonu için click olayı
                    $('#editSelected').on('click', function () {
                        var selectedIds = $('.contact-checkbox:checked').map(function () {
                            return $(this).data('id');
                        }).get();

                        if (selectedIds.length === 1) {
                            window.location.href = '/Contact/UpdateContactView/' + selectedIds[0];
                        }
                    });

                 

                

                    function deleteSelectedContacts(contactIds) {
                        Swal.fire({
                            title: 'Emin misiniz?',
                            text: 'Seçili kişileri silmek istediğinizden emin misiniz?',
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'Evet, sil!',
                            cancelButtonText: 'İptal'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                $.ajax({
                                    url: `/Contact/RemoveContacts`,
                                    type: 'POST',
                                    contentType: 'application/json',
                                    data: JSON.stringify({ contactIds: contactIds }),
                                    success: function (data) {
                                        dataTable.ajax.reload();
                                        toastr.success(data.message);
                                    },
                                    error: function (error) {
                                        console.log('Error:', error);
                                    }
                                });
                            }
                        });
                    }
                </script>
            }
