<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>

    <div class="header-box">
        <h1 class="header-text">ORIONPOS</h1>
        <h1 class="header-text">TELEFON</h1>
        <h1 class="header-text">REHBERİ</h1>
    </div>

    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
